@page "/"
@using LearnJsonEverything.Services

<PageTitle>Learn json-everything</PageTitle>

<div class="row mx-3 fill-remaining">
	<div class="mh-100 scroll text-center">
		<h1 class="display-4 mt-5 mb-4">
			Learn <span class="font-monospace text-muted">json-everything</span>
		</h1>
		<p class="lead mb-5">An interactive guide to utilizing JSON in .Net</p>
		
		<Feature Title="JSON Schema"
		         Description="@IndexContent.SchemaTagline"
		         LessonsUrl="json-schema"
				 DocsUrl="https://docs.json-everything.net/schema/basics/"
				 ImageUrl="img/json-schema.png">
		</Feature>
@* 		<Feature Title="JSON Path"
				 Description="@IndexContent.PathTagline"
				 LessonsUrl="json-path"
				 DocsUrl="https://docs.json-everything.net/path/basics/"
				 ImageUrl="img/json-path.png"
		         Flipped="true">
		</Feature>
		<Feature Title="JSON-e"
				 Description="@IndexContent.JsonETagline"
				 LessonsUrl="json-e"
				 DocsUrl="https://docs.json-everything.net/json-e/basics/"
				 ImageUrl="img/json-e.png">
		</Feature>
		<Feature Title="JSON Logic"
				 Description="@IndexContent.LogicTagline"
				 LessonsUrl="json-logic"
				 DocsUrl="https://docs.json-everything.net/pointer/basics/"
				 ImageUrl="img/json-logic.png"
		         Flipped="true">
		</Feature>
		<Feature Title="JSON Patch"
				 Description="@IndexContent.PatchTagline"
				 LessonsUrl="json-patch"
				 DocsUrl="https://docs.json-everything.net/patch/basics/"
				 ImageUrl="img/json-patch.png">
		</Feature>
		<Feature Title="JSON Pointer"
				 Description="@IndexContent.PointerTagline"
				 LessonsUrl="json-pointer"
				 DocsUrl="https://docs.json-everything.net/pointer/basics/"
				 ImageUrl="img/json-pointer.png"
				 Flipped="true">
		</Feature>
 *@	</div>
</div>
